<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>talk_loop_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

			<key>talk_loop_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{277,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,659}}</string>
				<key>sourceSize</key>
				<string>{312,1276}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>